html{
    background-color: rgb(245,245,245);
}

/*
NOTE:
index.html, about.html, contact.html, curriculum.html, projects.html, scholarships.html and the header on the index.html page use layout.css

the header styling for the above pages are in layout2.css

the other pages have their layout CSS found in style.css 
*/

/*----------------------------------TABLE OF CONTENTS-------------------------------*/
/*	1. Header
/*  2. Hero Section 
/*  3. Mission Section
/*  4. Supporting-1 Section
/*  5. Features Section
/*  6. Supporting-2 Section
/*  7. Banner Section
/*  8. Banner-Curriculum Section
/*  9. Contact Section
/*  10. Contact Form
/*  11. Content Section
/*  12. About Page
/*  13. Projects Page
/*  14. Curriculum Page
/*  15. Footer
/*	16. CSS OverWrite Boostrap 
/*  17. Club Page 
/*  18. Faculty Page
/*  19. Event Page
/*  20. Research Section
/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/

/*	1. Header

/*-----------------------------------------------------------------------------*/

nav[role='nav-mobile'],
header button{
    display: none;
}

header[role="navigation"] {
    color: white;
    position: absolute;
    width: 100%;
    z-index: 99;
}

header[role="navigation"] .container {
    width: 97.5%;
}

.page-title{
    margin-top: 15px;
}


/* NAVIGATION */

nav[role='nav-main'] {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

nav[role='nav-main'] li {
    padding: 15px 20px;
}

nav[role='nav-main'] .fa {
    margin-left: 5px;
}

.hvr-icon-hang:before{
    content: "\f0d7" !important;
}

nav[role="nav-mobile"] li {
    list-style: none;
}

/* SUB-MENUS */

.sub-menu {
    position: absolute;
    background-color: rgba(169, 169, 169, 0.85);
    box-shadow: 2px 2px 2px #000;
    width: 225px;
    display: none;
}

/* DESKTOPS */

@media screen and (max-width: 1400px){
    .page-title h1{
        font-size: 1.7em;
    }
    .page-title h2{
        font-size: 1.45em;
    }
    nav[role='nav-main'] li{
        font-size: 14px;
        padding: 15px 15px;
    }
}

@media screen and (max-width: 1200px ){
    header[role="navigation"] .container{
        width: 95%;
    }
    .page-title h1{
        font-size: 1.65em;
    }
    .page-title h2{
        font-size: 1.4em;
    }
     nav[role='nav-main'] li{
        font-size: 13.5px;
        padding: 15px 10px;
    }
}

/* tablets */

@media screen and (max-width: 1048px) {
    nav[role='nav-main'],
    nav[role='nav-mobile'],
    .sub-menu-mobile{
        display: none;
    }
    
    .page-title{
        flex-direction: column !important;
        margin-top: 15px;
    }
    
    .page-title h1{
        font-size: 1.75em;
        line-height: 0.9;
        margin-bottom: 0px;
    }
    
    .page-title h2{
        align-self: flex-start;
        font-size: 1.1em;
        position: relative;
        bottom: 5px;
        margin-bottom: 0px;
        z-index: -1;
    }
    
    
    header .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    
    header button{
        display: block;
    }
    
    nav[role='nav-mobile']{
        position: absolute;
        width: 100%;
        background-color: rgba(204, 204,204, 0.95);
        color: black;
        padding: 10px 0;
    }
    

    
    nav[role='nav-mobile'] li{
        color: white;
        padding: 15px 0;
        text-align: center;
    }
    
    nav[role='nav-mobile'] div:first-of-type{
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }  
    
    .sub-menu-mobile{
        background-color: rgba(185, 185, 185, 0.75);
    }
    
    .nav-dropdown-mobile{
        cursor: pointer;
    }
}

/* PHONES */

@media screen and (max-width: 544px){
    .page-title h1{
        font-size: 1.45em;
    }
}

@media screen and (max-width: 375px){
    .page-title h1{
        font-size: 1.2em;
    }
    .page-title h2{
        font-size: 0.8em;
        top: -3px;
        margin-bottom: 5px
    }
}

/*-----------------------------------------------------------------------------*/

/*	2. HERO SECTION

/*-----------------------------------------------------------------------------*/


.carousel h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: 4px 3px 2px #000;
    margin-bottom: 20px;
}

.carousel-items {
    height: 85vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.carousel-items button {
    padding: 12px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(169, 169, 169, 0.8);
    border: none;
    box-shadow: 1px 1px 3px #000;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.carousel section{
    height: 100vh;
}

.carousel section:nth-child(1) {
    background: url("../pics/home-banner.png") no-repeat center/cover;
}

.carousel section:nth-child(2) {
    background: url('../pics/Bronco_Student_Center.png') no-repeat center/cover;
}

@media screen and (max-width: 544px){
    .carousel h1{
        font-size: 3em;
    }
    .carousel h2{
        font-size: 2em;
    }
}

@media screen and (max-width: 380px){
    .carousel h1{
        font-size: 2.5em;
    }
    .carousel h2{
        font-size: 1.5em;
    }
}


/*-----------------------------------------------------------------------------*/

/*	3. Mission Section

/*-----------------------------------------------------------------------------*/

section.home-mission {
    background-color: rgba(123, 123, 123, 0.9);
    width: 100%;
    color: white;
    padding: 30px 0px;
}

section.home-mission .container {
    height: 200px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-mission .container div:first-of-type {
    border-right: 1px solid white;
    padding-right: 15px;
}

.home-mission span {
    display: block;
    text-align: right;
}

.home-mission .container div:nth-child(2) {
    width: 40%;
    padding-left: 15px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: justify;
}


/* TABLET */

@media screen and (max-width: 768px) {
    .home-mission span {
        text-align: left;
    }
    .home-mission p {
        font-size: 0.9em;
    }
}


/* PHONE */

@media screen and (max-width: 644px) {
    .home-mission p {
    }
    .home-mission .container div:first-of-type {
        width: 55%;
        text-align: left;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .home-mission .container div:nth-child(2) {
        width: 50%;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 380px) {
    .home-mission p {
        font-size: 0.8em;
    }
}


/*-----------------------------------------------------------------------------*/


/*	4. Supporting-1 Section
/*-----------------------------------------------------------------------------*/

.supporting-1 {
    padding: 50px 0px;
    background-color: rgb(245, 245, 245);
    align-items: baseline;
    align-content: center;
}

.supporting-1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.supporting-1 img {
    -ms-flex-item-align: center;
    align-self: center;
    width: 30%;
}

.supporting-1 h3 {
    text-align: center;
}

.supporting-1 p {
    text-align: center;
    width: 235px;
}

@media screen and (max-width: 980px) {
    .supporting-1 p {
        width: 175px;
        font-size: 0.9em;
    }
}


/* TABLET */

@media screen and (max-width: 768px) {
    .supporting-1 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .supporting-1 p {
        width: 255px;
    }
    .supp-1a,
    .supp-1b {
        margin-bottom: 25px;
    }
}


/* PHONE */

@media screen and (max-width: 544px) {
    .supporting-1 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .supporting-1 p {
        width: 275px;
    }
    .supp-1a,
    .supp-1b,
    .supp-1c {
        margin-bottom: 25px;
    }
}


/*-----------------------------------------------------------------------------*/


/*	5. Features Section
/*-----------------------------------------------------------------------------*/

.features {
    background: url('../pics/parallax.png') no-repeat center center fixed;
    background-size: cover;
    padding: 25px 0px;
}

.features h2 {
    color: white;
    text-align: center;
}

.features .container div {
    width: 40%;
    height: 225px;
    background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 544px){
    .features .container div{
        width: 95%;
    }
    .features div div:nth-child(1){
        display: none;
    }
}


/*-----------------------------------------------------------------------------*/


/*	6. Supporting-2 Section

/*-----------------------------------------------------------------------------*/

.supporting-2 {
    padding: 50px 0px;
    background-color: #f5f5f5;
}

.supporting-2 div {
    text-align: left;
    border: 2px solid #7d7d7d;
    width: 25%;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}

.supporting-2 h3 {
    color: #598e63;
}

.supporting-2 p {
    margin-bottom: 10px;
    color: #000;
}

.supporting-2 button {
    width: 150px;
    color: #FFF;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 7px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    background-color: rgba(169, 169, 169, 0.75);
    border: none;
    box-shadow: 1px 1px 3px #000;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.supporting-2 button a{
    color: white;
}


/* TABLET + PHONE  */

@media screen and (max-width: 768px) {
    .supporting-2 div {
        width: 80%;
        margin-bottom: 10px;
    }
    .supporting-2 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/*-----------------------------------------------------------------------------*/

/*	7. Banner Section

/*-----------------------------------------------------------------------------*/

.banner {
    background: url(../pics/banner2.png) no-repeat center center;
    width: 100%;
    height: 200px;
}

.banner div{
    color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.banner h2{
    text-shadow: 4px 3px 2px #000;
}

/*-----------------------------------------------------------------------------*/

/*	8. Banner-Curriculum Section

/*-----------------------------------------------------------------------------*/

.banner-curr{
    background: url(../pics/banner.png) no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 275px;
}

.banner-curr div{
    color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.banner-curr h2{
    text-shadow: 4px 3px 2px #000;
}

/*-----------------------------------------------------------------------------*/

/*	9. Supporting-3 Section

/*-----------------------------------------------------------------------------*/

.supporting-3{
    background-color: #7d7d7d;
    padding: 40px;
}

.supporting-3 p{
    color: white;
    text-align: center;
}

/*-----------------------------------------------------------------------------*/

/*	9. Club-info Section

/*-----------------------------------------------------------------------------*/

.club-info{
    padding: 25px 0px;
    background-color: white;
}

.club-info h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(169,169,169);
    margin-bottom: 20px;
    color: #7d7d7d !important;
}

.club{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.club h3{
    width: 225px;
    text-align: center;
    color: #598e63;
    font-weight: 600;
}

.club img{
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
}

.club .title{
    margin-bottom: 5px;
}



@media screen and (max-width: 980px){
    .club-info .flex-around{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 780px){
    .club h3:last-of-type,
    .computer-science h3:last-of-type{
        margin-bottom: 10px;
    }
}

/*-----------------------------------------------------------------------------*/

/*	10. Contact Form Page

/*-----------------------------------------------------------------------------*/

.contact-form{
    padding: 50px 0;
    color: rgb(112, 112, 112);
}

.contact-form .flex{
    justify-content: center;
}

.contact-form-content{
    margin-left: 25px;
}

.contact-form-content ul{
    list-style: none;
    margin-bottom: 30px;
}

.contact-form-content .title:nth-child(3){
    margin-bottom: 0px; 
    padding-bottom: 0px;
}
.contact-form-content span{
    margin-bottom: 20px;
}

.contact-form-content p{
    width: 300px;
}

.contact-form img{
    display: none;
}

@media screen and (min-width: 744px){
    .contact-form img{
        display: block;
    }
}

@media screen and (min-width: 1400px){
    .contact-form-content{
        margin-left: 100px;
    }
}



/*-----------------------------------------------------------------------------*/

/*	11. Content Section

/*-----------------------------------------------------------------------------*/

.content .title{
    color: #598e63;
}

.content{
    padding: 25px 0;
}

.content > div > div{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content hr {
    width: 25%;
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(204, 204, 204, 0.75), rgba(125, 125, 125, 1), rgba(204, 204, 204, 0.75));
    background-image: linear-gradient(to right, rgba(204, 204, 204, 0.75), rgba(125, 125, 125, 1), rgba(204, 204, 204, 0.75));
}

.content-supporting{
    width: 50%;
}

.content-supporting p{
    width: 95%;
    margin-top: 10px;
    text-indent: 50px;
}



aside{
    width: 300px;
    background-color: rgb(169, 169, 169);
    height: 400px;
    border-radius: 5px;
    -ms-flex-item-align: center;
    align-self: center;
}

aside img{
    width: 225px;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    bottom: 100px;
    border-radius: 10px;
}

.inner{
    background-color: rgb(245, 245, 245);
    width: 90%;
    -ms-flex-item-align: center;
    align-self: center;
    height: 225px;
    border-radius: 10px;
    position: relative;
    bottom: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.inner h4{
    margin: 0px;
}


.supporting-4{
    background-color: #598e63;
    height: 275px;
}



/* LAPTOPS */
@media screen and (max-width: 1200px){
    .content-supporting{
        width: 75%;
    }
}

/* Small Laptops */
@media screen and (max-width: 980px){
    .content-supporting{
        width: 65%;
    }
}

/* tablets/phones */
@media screen and (max-width: 780px){
    .content-supporting{
        width: 100%;
    }
    .content > div > div{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    aside{
        margin-top: 100px;
    }
}

/*-----------------------------------------------------------------------------*/

/*	12. about page

/*-----------------------------------------------------------------------------*/

.about{
    padding: 40px 0px 75px 0px;
    align-items: center;
}


.about-picture {
    background: url('../pics/banner.png');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

.about-message{
    width: 750px;
    margin-left: 20px;
}


.about h2{
    text-align: center;
    margin-bottom: 30px;
}

.about h3{
    margin-bottom: 15px;
    color: #598e63;
}


@media screen and (max-width: 980px){
    .about .flex{
        flex-wrap: wrap;
    }
    .about-picture{
        margin-bottom: 20px;
    }
    
    .about-message{
        text-align: center;
    }

}

@media screen and (max-width: 544px){
    .about-picture{
        height: 250px;
    }
}

/*-----------------------------------------------------------------------------*/

/*	13. Projects Page

/*-----------------------------------------------------------------------------*/

/* supporting section */

.supporting{
    padding: 40px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}


.supporting div:first-of-type {
    background: url('https://www.cpp.edu/~cba/computer-information-systems/img/Banner_CIS1.jpg') no-repeat center center;
    background-size: cover;
    width: 500px;
    height: 250px;
    
}

.supporting div:nth-child(2){
    width: 500px;
    margin-left: 20px;
}

.supporting h3{
    padding-bottom: 15px;
    border-bottom: 2px solid #d7d7d7;
    text-align: center;
}

.supporting p{
    text-indent: 25px;
}

@media screen and (max-width: 960px){
    .supporting{
        flex-wrap: wrap;
    }
    
    .supporting div:nth-child(2){
        margin-top: 20px;
    }
}

@media screen and (max-width: 544px){
    .supporting p{
        text-align: justify;
    }
}

/* projects carousel */

.projects{
    background-color: #598e63;
    padding: 25px 0px 35px 0px;
    width: 100%;
    align-items: center;
}


.projects h2{
    margin-bottom: 15px;
}



/* contact section */

.contact{
    align-items: center;
    padding: 50px;
    background-color: #f5f5f5;
    text-align: center;
}

.contact h3{
    font-weight: normal;
    margin-bottom: 10px;
}

.contact button{
    width: 110px;
    color: #000;
    -ms-flex-item-align: end;
    padding: 7px 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #7B7B7B;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}


/*-----------------------------------------------------------------------------*/

/*	14. Scholarship Section

/*-----------------------------------------------------------------------------*/

.scholarship {
    padding: 40px 0;
    background-color: white;
}

.scholarship hr{
    width: 100%;
    background-color: rgb(124, 124, 124);
}

.scholarship-item img{
    width: 250px;
    height: 200px;
    align-self: center;
    display: none;
}

.scholarship-item p {
    margin-bottom: 15px;
}

.scholarship-item h3{
    color: #598e63;
}

.scholarship-content{
    margin-left: 15px;
    margin-bottom: 30px;
    align-self: center;
    margin-top: 25px;
}

@media screen and (min-width: 744px){
    .scholarship-item img {
	    display: block;
    }
}

@media screen and (min-width: 1200px){
    .scholarship .container{
        width: 72.5%;
    }
}

@media screen and (min-width: 1600px){
    .scholarship .container {
        width: 62.5%;
    }
}

/*-----------------------------------------------------------------------------*/

/*	15. Curriculum Page

/*-----------------------------------------------------------------------------*/

.supporting-5 {
    background-color: #E3E3E3;
    padding: 50px;
}

.supporting-5 p {
    text-align: center;
}


.curriculum {
    padding: 50px 0px;
    width: 67.5%;
    margin: 0 auto;
}

.curriculum .flex {
    list-style: none;
    justify-content: center;
    margin-bottom: 30px;
}

.tabs a{
    color: black;
    padding-bottom: 5px;
    
}

.curriculum .flex > li {
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
}

img.curriculum-img{
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.curriculum-major p{
    padding: 10px 0px;
}

.curriculum-major ul{
    list-style: none;
    padding-bottom: 15px;
}

.curriculum-major button {
    width: 200px;
    align-self: center;
    background-color: rgb(169, 169, 169);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-top: 25px;
}

.curriculum-major h4 {
    margin-bottom: 15px;
}


#cs {
    display: none;
}

#ece {
    display: none;
}

#cis ul:first-of-type{
    list-style-type: circle;
    list-style-position: inside;
    text-indent: 15px;
}

.active-tab {
    border-bottom: 3px solid #598e63;
}



@media screen and (max-width: 980px){
    .curriculum {
        width: 87.5%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 544px){
    .curriculum-img {
	    height: 130px;
    }
}



/*-----------------------------------------------------------------------------*/

/*	16. Footer Section

/*-----------------------------------------------------------------------------*/

footer {
    background-color: #7d7d7d;
    color: white;
    padding: 25px 0;
}



footer div{
    text-align: center;
}

footer h4{
    font-size: 1.15em;
}


footer h5{
    text-align: center;
}

footer hr{
    width: 75%;
    margin: 20px auto;
}

footer ul {
    list-style-type: none;
}


footer li {
    padding: 5px 0px;
}


@media screen and (max-width: 544px) {
    footer .flex-around {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100px;
        align-self: center;
    }
    
    footer .flex-around div{
        margin-bottom: 10px;
    }
    
    footer li {
        padding: 15px 0;
    }
    
    footer h4{
        font-size: 1.35em;
    }
}

/*-----------------------------------------------------------------------------*/

/*	1. CSS OverWrite Boostrap

/*-----------------------------------------------------------------------------*/

.container {
    padding:0px;
}

h1{
    margin: 0px;
}

h2{
    margin-top: 0px;
}

.flex{
    margin-bottom: 0
}

a:focus, a:hover{
    text-decoration:none;
}

/*Boostrap End*/

/*-----------------------------------------------------------------------------*/

/*	2. Club Page 

/*-----------------------------------------------------------------------------*/

.logo-club{
    margin-top: 0px;
}

.headerImg{
    background: url('../pics/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    
    color: white;
    font-size:1.5em;
}

.headerImg .introTxt{
   text-shadow: 3px 3px 5px #21262c; 
   margin-top: 20px;
}

.club-info{
    margin:50px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    text-transform: uppercase;
    color: #7d7d7d;
    letter-spacing: 1px;
}

.club-info h1{
    text-align: center;
}

.div1{
    border: 2px solid #598e63; 
    border-radius: 20px;
    width: 8vw;
}

.div3{
    border: 3px solid #a9a9a9; 
    border-radius: 50px;
    width: 10vw;
}

.div4{
    margin: auto;
    border: 3px solid #a9a9a9; 
    border-radius: 50px;
    width: 10vw;
}

.div5{
    margin:auto;
    border: 1px solid #a9a9a9; 
    width: 12vw;
}

.cis-clubs{
    margin-top: 20px;
}

.row-space{
    margin-top: 130px;
}

.clubTxt{
    list-style: none;
    font-size: 1.5em;
    text-align: center;
}

.clubTxt li{
    margin-top: 40px;
}

.clubTxt li a{
    text-decoration: none;
    color: #a9a9a9;
}

.clubTxt li a:hover{
    color: #7d7d7d;
}


.clubTxt2{
    color: #5b9064;
    text-transform: uppercase;
}

.clubTxt3{
    color: #7d7d7d;
    font-size: 1.5em;
}

.clubP{
    text-indent: 50px;
    color: #7d7d7d;
    font-size: 1.3em;
    font-weight: 550;
}

.club-nav{
    position: static;
    background: #ffffff;
    color: #7d7d7d;
}
.club-nav nav > ul > li > a{
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 500;
}

.flex-container{
  width:75%;
  padding: 0;
  margin: 0 auto;
}

.info-Club{
    background: #a9a9a9;
    margin: 100px auto;
    max-width: 390px;
    height: 500px;
    border-radius: 20px;
}

.club-row{
    margin-top: 20px;
}

.club-Logo{
    display: block;
    margin: auto;
    position: relative;
    bottom: 100px;
}

.css-Logo{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.info{
    position: relative;
    bottom: 80px;
    background: #ffffff;
    margin: auto;
    max-width: 350px;
    height: 250px;
    border-radius: 20px;
    color: #7d7d7d;
    justify-content: center;
}

.space{
    margin-top: 10px;
}

.infoTitle{
    margin-top: 10px;
}

.club-Content{
    margin: 5px 0px 10px 0px;
}

@media only screen and (max-width: 992px){
    .infoTitle{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .club-Content{
        margin: 0px
    }
}

@media only screen and (max-width: 500px){
    .info{
        height: 305px;
    }
}

.club-links{
    margin: auto;
    text-align: center;
}

.club-links h4{
    font-weight: 500;
}

.club-links li{
    list-style-type: none;
}

.club-links li a{
    color: #5b9064;
    text-decoration: none;
}

.club-links li a:hover{
    opacity: 0.8;
}

.club-photos{
    margin-bottom: 100px;
}

.club-carousel{
    margin-top: 110px;
}

.slick-prev:before, .slick-next:before{
    opacity: 0.7;
    color: #63c254;
}

.club-events {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  min-width: 230px;
  max-width: 500px;
  width: 100%;
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
}
.club-events *,
.club-events *:before,
.club-events *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.club-events img {
  margin: 0 auto;
  height: 250px;
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
.club-events figcaption {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color:rgba(169, 169, 169, 0.8);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}

.club-events a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.club-events:hover figcaption,
.club-events.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


/*CLUB PAGE END*/

/*-----------------------------------------------------------------------------*/

/*	3. Faculty Page

/*-----------------------------------------------------------------------------*/

.top-space{
    margin-top: 20px;
}

.headerImg2{
    background: url('../pics/home-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    
    color: white;
    font-size:1.5em;
}

.headerImg2 .introTxt{
   text-shadow: 3px 3px 5px #21262c; 
   margin-top: 20px;
}

.panel{
     display: flex;
     align-items: center;
     justify-content:center;
     flex-flow: row wrap;
     
     margin: 30px 0px;
}

.faculty-panel-1{
   height: 300px;
   width: 800px;
   background: #a8a8a8; 
   margin: 10px 20px;
   overflow-y: hidden;
   
   display: flex;
   align-items:start;
   justify-content:center;
}

.faculty-panel-2{
   height: 300px;
   width: 800px;
   background: #7d7d7d;
   margin: 10px 20px;
   overflow-y: hidden;
   
   display: flex;
   align-items:start;
   justify-content:center;
}

@media only screen and (max-width: 820px){
    .faculty-panel-1, .faculty-panel-2{
               overflow-y: auto;
            }
}

@media only screen and (max-width: 500px){
    .faculty-panel-1, .faculty-panel-2{
                display: initial;
            }
}
            
.panel-info{
   color:white;
   margin: 0px 20px;
}

.panel-info hr{
    background: white;
    border: 1px solid white;
}

.panel-info h2{
    text-transform: uppercase;
}

.panel-info p{
    font-size: 1.0em;
}

.panel-info p a{
    color: white;
}

.img img{
   height: 300px;
   width: 250px;
}
/*FACULTY PAGE END*/

/*-----------------------------------------------------------------------------*/

/*	3. Event Page

/*-----------------------------------------------------------------------------*/

.event-tabs{
    font-size: 2em;
    margin: 40px auto;
}

.event-tabs>li{
    padding-bottom:15px;
}

.event-tabs a{
    color:#7d7d7d;
    text-decoration:none;
}

.event-container{
    width: 77.5%;
    margin: 0 auto;
}
.eventImg img{
    height:400px;
    width:100%;
}

.event-info{
    bottom: 10px;
}

.event-info h2{
    color: #598e63;
    text-transform: uppercase;
}

.event-info p{
    color: #7d7d7d;
    font-size: 1.2em;
}

.event-info a{
    color: #598e63;
}

.event-info a:hover{
    opacity: 0.7;
}

.divider{
    border: 1px solid #7d7d7d;
    margin: 90px 0px;
}

@media only screen and (max-width: 980px){
    .event-info{
       margin-top:20px;
    }
}
/*Event Page END*/

/*-----------------------------------------------------------------------------*/

/*	1. Research Boostrap

/*-----------------------------------------------------------------------------*/

.research{
    margin-top: 20px;
}

.research button{
    margin: 30px;
}

.btn{
    background: #a9a9a9;
    font-size: 1.3em;
    padding: 20px;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn:hover{
    background: #7d7d7d;
}

.research h1{
    color: #598e63;
    font-size: 2.2em;
}

.res-list{
    margin-top:10px;
    color: #7d7d7d;
    font-size: 1.5em;
    list-style: none;
}

.res-list li{
    margin: 10px;
}

/*Research Page End*/

/*Boostrap NAV FIXED*/
button.hamburger{
    order: 3;
}

header[role="navigation"] .container:before {
    content: none !important;
}

header[role="navigation"] .container:after{
    content: none !important;
}
/*FIXED END*/

